<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="registro.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <title>RecetApp - Registro</title>
    <link href="logoTitle-02-01.ico" rel="shortcut icon">
</head>
<body>
<!-- <div class="lds-spinner loader" id= loader><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
-->
</div>
<header id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">RecetApp</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Ingresar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="l-form">

    <form action="/register" class="form" enctype="multipart/form-data"
          method="post">
        <h1 class="form_tittle">Registro</h1>
        <p class="link alert alert-danger" th:if="${error != null}" th:text="${error}"></p>

        <div class="form_div">
            <input class="form_input" name="photo" placeholder="" type="file">
            <label class="form_label" for=""> Elige una photo </label></div>

        <div class="form_div">
            <input class="form_input" name="name" placeholder="" type="text">
            <label class="form_label" for="">Nombre</label>
        </div>

        <div class="form_div">
            <input class="form_input" name="nickName" placeholder="" type="text">
            <label class="form_label" for="">Apodo</label>
        </div>

        <div class="form_div">
            <select class="form-control" name="category">
                <option selected th:each="cat : ${category}" th:text="${cat.getName()}" th:value="${cat}"></option>
            </select>
        </div>


        <div class="form_div">
            <input class="form_input" name="mail" placeholder="" type="email">
            <label class="form_label" for="">Email</label>
        </div>

        <div class="form_div">
            <input class="form_input" name="password" placeholder="" type="password">
            <label class="form_label" for="">Contraseña</label>
        </div>

        <input class="form_butom" type="submit" value="Registrarme">

        <p>¿Ya tienes una cuenta? <a class="link " href="/login"> Iniciar sesion</a></p>
    </form>
</div>
<footer class="footer bg-dark">
    <div class="col-lg-12 col-md-12">
        <small>2022. RecetApp. Todos los derechos reservados</small>
    </div>
</footer>
<!--<script src="main.js"></script>-->
</script>
<script crossorigin="anonymous"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

